---
import H2Zag from "../text/h2zag.astro";
interface Props {
  priceLeft: string;
  priceRight: string;
  title: string;
  subtitle: string;
  formActionLeft: string;
  formActionRight: string;
}

const {
  priceLeft,
  priceRight,
  title = "Выбери свой формат подготовки",
  subtitle = "Самостоятельный тариф для тех, кто уже знает материал и хочет освежить. Минигруппа для тех, кто хочет получить максимальную поддержку и разбор заданий.",
  formActionLeft = "/allcourses",
  formActionRight = "/allcourses",
} = Astro.props;
---

<div class="typeChoose section" role="region" aria-labelledby="type-choose-title">
  <div class="typeChoose__wrapper container">
    <div class="typeChoose__header">
      <H2Zag title={title} subtitle={subtitle} headingId="type-choose-title" />
    </div>
    <div class="typeChoose__content">
      <div class="typeChoose__left">
        <h3 class="typeChoose__left-title">
          Подготовка к ЕГЭ по химии в минигруппе
        </h3>
        <div class="typeChoose__left-lists">
          <div class="typeChoose__left-list">
            <ul class="typeChoose__left-list-items">
              <li class="typeChoose__left-list-item">8-10 занятий в месяц;</li>
              <li class="typeChoose__left-list-item">5-10 человек в группе;</li>
              <li class="typeChoose__left-list-item">Ежемесячный пробник;</li>
              <li class="typeChoose__left-list-item">
                Нет кураторов - есть эксперты ЕГЭ;
              </li>
              <li class="typeChoose__left-list-item">
                Постоянная связь с родителями;
              </li>
              <li class="typeChoose__left-list-item">
                Строгое расписание, без вольностей;
              </li>
            </ul>
          </div>
          <div class="typeChoose__left-list">
            <ul class="typeChoose__left-list-items">
              <li class="typeChoose__left-list-item">Красивые презентации;</li>
              <li class="typeChoose__left-list-item">Удобные конспекты;</li>
              <li class="typeChoose__left-list-item">
                Удобная платформа с мобильным приложением;
              </li>
              <li class="typeChoose__left-list-item">Трекинг успехов;</li>
              <li class="typeChoose__left-list-item">
                Постоянная поддержка от преподавателя;
              </li>
              <li class="typeChoose__left-list-item">Зачеты;</li>
            </ul>
          </div>
        </div>
        <div class="typeChoose__left-bottom">
          <div class="typeChoose__left-price">
            <span class="typeChoose__left-price-ot">от </span>
            {priceLeft}
            <span class="typeChoose__left-price-rub">р/час</span>
          </div>
          <a
            href={formActionLeft}
            class="typeChoose__left-button btn btn--ghost"
          >
            Узнать подробнее
          </a>
        </div>
      </div>
      <div class="typeChoose__right">
        <h3 class="typeChoose__right-title">
          Самостоятельная подготовка без расписания
        </h3>
        <div class="typeChoose__right-lists">
          <div class="typeChoose__right-list">
            <ul class="typeChoose__right-list-items">
              <li class="typeChoose__right-list-item">Без расписания;</li>
              <li class="typeChoose__right-list-item">
                Записанные подробные видеоуроки;
              </li>
              <li class="typeChoose__right-list-item">Конспекты;</li>
              <li class="typeChoose__right-list-item">
                Постоянная связь с преподавателем;
              </li>
              <li class="typeChoose__right-list-item">
                Больше 2000 заданий практики;
              </li>
              <li class="typeChoose__right-list-item">
                Доступ к материалам навсегда;
              </li>
            </ul>
          </div>
          <div class="typeChoose__right-list">
            <ul class="typeChoose__right-list-items">
              <li class="typeChoose__right-list-item">Красивые презентации;</li>
              <li class="typeChoose__right-list-item">Удобные конспекты;</li>
              <li class="typeChoose__right-list-item">
                Удобная платформа с мобильным приложением;
              </li>
              <li class="typeChoose__right-list-item">Трекинг успехов;</li>
              <li class="typeChoose__right-list-item">Нет занятий;</li>
              <li class="typeChoose__right-list-item">Очень низкая цена;</li>
            </ul>
          </div>
        </div>
        <div class="typeChoose__right-bottom">
          <div class="typeChoose__right-price">
            <span class="typeChoose__right-price-ot">от </span>
            {priceRight}
            <span class="typeChoose__right-price-rub">р&nbsp;/&nbsp;час</span>
          </div>
          <a
            href={formActionRight}
            class="typeChoose__right-button btn--blue btn"
          >
            Узнать подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .typeChoose__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-24);
    font-family: var(--ff);
  }
  .typeChoose__left {
    background-color: var(--blue);
    border-radius: var(--radius-24);
    padding: var(--space-24);
    color: var(--white);
  }
  .typeChoose__right {
    background-color: var(--white);
    border-radius: var(--radius-24);
    padding: var(--space-24);
    border: 1px solid var(--border);
  }
  .typeChoose__right-title,
  .typeChoose__left-title {
    font-weight: 800;
    font-size: clamp(24px, 2.5vw, 36px);
    line-height: 1.2;
    margin: 0 0 var(--space-24);
  }
  .typeChoose__left-lists,
  .typeChoose__right-lists {
    margin: 0 0 var(--space-24) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-16);
  }
  .typeChoose__left-list-items,
  .typeChoose__right-list-items {
    margin: 0;
    font-size: var(--text);
    font-weight: 400;
    padding-left: var(--space-16);
  }
  .typeChoose__left-list-item,
  .typeChoose__right-list-item {
    font-size: clamp(12px, 1vw, 14px);
    margin-bottom: var(--space-8);
  }
  .typeChoose__right-price,
  .typeChoose__left-price {
    font-size: clamp(75px, 2.5vw, 96px);
    font-weight: 800;
    line-height: 1;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  .typeChoose__right-price-ot,
  .typeChoose__left-price-ot {
    font-size: clamp(24px, 2.5vw, 34px);
    font-weight: 800;
    line-height: 1;
    padding: 0;
    margin-right: 10px;
    white-space: nowrap;
  }
  .typeChoose__right-price-rub,
  .typeChoose__left-price-rub {
    font-size: clamp(24px, 2.5vw, 34px);
    font-weight: 800;
    line-height: 1;
    padding: 0;
    margin-left: -20px;
    white-space: nowrap;
  }
  .typeChoose__right-bottom,
  .typeChoose__left-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .typeChoose__left-bottom,
    .typeChoose__right-bottom {
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 36px;
    }
    .typeChoose__right-button,
    .typeChoose__left-button {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .typeChoose__content {
      grid-template-columns: 1fr;
    }
    .typeChoose__left-title,
    .typeChoose__right-title {
      text-align: center;
    }
    .typeChoose__left-lists,
    .typeChoose__right-lists {
      grid-template-columns: 1fr;
    }
    .typeChoose__left-bottom,
    .typeChoose__right-bottom {
      flex-direction: column;
      gap: 36px;
    }
    .typeChoose__right-button {
      width: 100%;
      margin-top: 16px;
    }
  }
</style>
